/*Color-Pallte:
#6abcb9 - Background
#d6efc7 - background 2
#5aa897 - Main txt
#184d47 - h1 h2 
*/

/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

html, body {
    height: 100%;
    /*overflow-x: hidden;*/
}

body {
    background-color: #f8f8f9 !important;
    font-family: 'Cabin', sans-serif;
    min-height:100%; position:relative;

}


h2 {
   color: #184d47;
}

p {
    color: #184d47;
}

span {
    padding: 7px;
}

#p-txt {
    color: #fff;
}

.bg-dark {
    background: linear-gradient( 90deg, rgb(23 77 71) 0%, rgb(149 187 123) -3%, rgb(106 188 185) 90%, rgb(104 190 179) 101%, rgb(106 188 185) 100%);
}

img {
    width: 500px;
    height: 500px;
}

.logo {
        height: 73px;
        width: 199px;
}

.carousel-item {
    margin-top: -85px;   
}

.carousel-inner{
    padding-bottom: 6.25vw;
} 

.btn-secondary {
    color: #f7f5f0;
    background-color: #174d47;
    border: #6abcb9 2px solid;
    border-radius: 25px;
}


.btn-secondary:hover {
    color: #174d47;
    background-color: #6abcb9;
    border-color: #6abcb9;
    border-radius: 25px;
}

.btn-signup{
    text-decoration: none;
    list-style: none;
    background-color: #f8f5f1;
    border-radius: 26px;
    font-weight: 600;
    margin:8px;
}

.btn-signup:hover, .btn-signup:focus, .btn-signup:active{
    background-color :#95bb7b;
    outline:0 !important;
}

.btn-color {
    color: #184d47 !important;
}

.btn-color:hover, .btn-color:focus  {
    color: #f8f5f1 !important;
    outline:0 !important;
}

.btn-primary {
    color: #184d47;
    background-color: #f7f5f0;
    border-color: #f7f5f0;
    border-radius: 25px;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #6abcb9;
    border-color: #6abcb9;

}


.fa-sign-out-alt, .fa-user {
    color: #fff;
    font-size: 20px;
}

.user-info {
    color: #fff;
    font-size: 20px;
    padding: 12px;

}

.user-info a {
    color: #fff;
    text-decoration: none;
}


/* .container, .container-lg, .container-md, .container-sm {
    max-width: 1434px !important;
} */

.col-lg-4 img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}


.footer-txt {
    color: #fff
}

footer {
    padding: 30px;
    background-color: #184d47;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

footer a {
    color: #fff;
    text-decoration: none;


}

/***MEDIA_QOUIRES**/

/*Mobile*/
@media (max-width: 767.98px){

 .nav-link {
    display: inline;
}

}


/*DESKTOP_LAPTOP*/
@media (min-width: 768px){
/* .container, .container-lg, .container-md, .container-sm {
    max-width: 1335px;
} */

.auth_botton {
    margin-inline-start: 41rem;
}

}

