
<main>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <video data-single-video-element="" playsinline="" muted="muted" loop="" poster="/content/dam/ibc/landing-page/resized/Saudi%202020_Images-1920x1080px7.jpg" style="object-position: center center" autoplay="autoplay" video-mobile-src="/content/dam/ibc/videos/mob/KSA_Tourism_2_60s_Arabic_Vertical.mp4">
              <source src="../video/Saudi_video.mp4" type="video/mp4">
            </video>
            <div class="container">
              <div class="carousel-caption">
                <h1>Explore More Places</h1>
                <p id="p-txt">The Best Ways To Explore A New City Places</p>
                <p><a class="btn btn-lg btn-primary" href="/post/add" tabindex="-1" aria-disabled="true">Post Your Trip</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
  
  
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
  
    <div class="container marketing" data-aos="fade-up">
  
      <!-- Three columns of text below the carousel -->
      <div class="row" data-aos="fade-up">
        <div class="col-lg-4">
          <img src="../img/Riyadh_logo.jpeg"/>
          <h2>Riyadh</h2>
          <p>the KSA’s beauty and wonder. Learn more about Riyadh’s Best Trips and Places</p>
          <p><a class="btn btn-secondary" href="#">All Post »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="../img/Qassim_logo.jpeg"/>  
          <h2>Qassim</h2>
          <p>land of palm trees and festivals, the fertile land making agriculture, particularly dates.</p>
          <p><a class="btn btn-secondary" href="#">All Post »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="../img/yanbu_logo.jpeg"/>  
          <h2>Yanbu</h2>
          <p>Rising from the Yabbu coast, marvel of art and architecture, explore everything that Yanbu has to offer</p>
          <p><a class="btn btn-secondary" href="#">All Post »</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
  
  
      <!-- START THE FEATURETTES -->
  
      <hr class="featurette-divider">
  
      <div class="row featurette" data-aos="fade-left">
        <div class="col-md-7">
          <h2 class="featurette-heading">Saudi, a kingdom that inspires <span class="text-muted">It’ll blow your mind.</span></h2>
          <p class="lead">Discover the country's hidden gems and breathtaking landscapes</p>
        </div>
        <div class="col-md-5">
          <img src="/img/Riyadh-bg.jpeg"/>
        </div>
      </div>
  
      <hr class="featurette-divider">

      <div class="row featurette" data-aos="fade-right" >
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Plan your ideal trip<span class="text-muted">Toady!</span></h2>
          <p class="lead">Experience breathtaking cliff-top views: this spectacular spot offers uninterrupted views from the edge of a sheer precipice.</p>
        </div>
        <div class="col-md-5">
          <img src="/img/yanbu-bg.jpg"/>  
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette" data-aos="fade-left">
        <div class="col-md-7">
          <h2 class="featurette-heading">Standing on the Edge of <span class="text-muted">the World.</span></h2>
          <p class="lead">Transportation, a road trip guide and other useful tips to help you plan your unforgettable trip to Saudi Arabia.</p>
        </div>
        <div class="col-md-5">
         <img src="../img/standing_img.jpg"/>  
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <!-- /END THE FEATURETTES -->
  
    </div><!-- /.container -->
  
  </main>